.gallery
    .container-fluid
        .row
            for item in Array(9)
                .col-md-6.col-lg-4
                    .thumbnail
                        .thumbnail__image(style='background-image: url(https://source.unsplash.com/category/nature/400x280)')
                        .thumbnail__caption ИДЕИ ДЛЯ БАССЕЙНА
                        a.thumbnail__link(href='javascript:void(0)') http://swimmingpool-best.ru/
                        p.thumbnail__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
                        .thumbnail__readmore Подробнее