.hero.owl-carousel
    .hero__slide(style='background-image: url("images/hero-bg_1.jpg")')
        .hero__info
            h1.hero__caption БОЛЕЕ 10.000 ИДЕЙ ИНТЕРЬЕРОВ ДЛЯ ВАШЕГО ДОМА!
            p.hero__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
    .hero__slide(style='background-image: url("images/hero-bg_2.jpg")')
        .hero__info
            h1.hero__caption БОЛЕЕ 10.000 ИДЕЙ ИНТЕРЬЕРОВ ДЛЯ ВАШЕГО ДОМА!
            p.hero__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
