.navbar
    .navbar__item.navbar__menu.navbar__menu_left
        .menu
            .menu__item
                a.menu__link(href='javascript:void(0)') БАССЕЙНЫ
            .menu__item
                a.menu__link(href='javascript:void(0)') ВАННЫ
            .menu__item
                a.menu__link(href='javascript:void(0)') ГОСТИНЫЕ
            .menu__item
                a.menu__link(href='javascript:void(0)') ДЕТСКИЕ
            .menu__item
                a.menu__link(href='javascript:void(0)') КАБИНЕТЫ

    .navbar__item.navbar__brand INFOINTERIOR.RU
    .navbar__item.navbar__menu.navbar__menu_right
        .menu
            .menu__item
                a.menu__link(href='javascript:void(0)') КУХНИ
            .menu__item
                a.menu__link(href='javascript:void(0)') ХОЛЛЫ
            .menu__item
                a.menu__link(href='javascript:void(0)') СПАЛЬНИ
            .menu__item
                a.menu__link(href='javascript:void(0)') СТОЛОВЫЕ

    .navbar__menuButton
        .burgerButton(data-target='.navbar')
            .burgerButton__piece
            .burgerButton__piece
            .burgerButton__piece
