.menu
  width 100%
  display flex
  justify-content space-around
  align-items center
  @media (max-width 992px)
    flex-direction column
  &__item
    position relative
    font-size 10px
    color #888
    @media (max-width 992px)
      padding-top 10px
      padding-bottom 10px
    &:before, &:after
      content ''
      position absolute
      display block
      height 2px
      background @color
      transition .4s
    &:before
      bottom 0
      left 0
      right 100%
    &:after
      top 0
      left 100%
      right 0
    &:hover:before
      right 0
    &:hover:after
      left 0
  &__link
    display block
    padding 10px
    text-decoration none
    color inherit
