.burgerButton
  position relative
  display flex
  flex-direction column
  justify-content space-around
  color #60635E
  border 1px solid #333
  border-radius 4px
  padding 4px
  cursor pointer
  transition .4s
  &_active
    border-color #bebebe
  &__piece
    width 30px
    height 3px
    background #999
    margin 2px
    border-radius 2px
